@charset "UTF-8";

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("../fonts/proxima-nova-bold.woff") format("woff"), url("../fonts/proxima-nova-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("../fonts/proxima-nova-regular.woff") format("woff"), url("../fonts/proxima-nova-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Proxima Nova";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Proxima Nova";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  color: #000;
  font-size: 14px;
  height: 100%;
}

html.lock,
body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1240px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.form__column {
  padding: 0px 15px;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 24px 109px 24px 86px;
  border: 2px solid #ffffff;
  margin: 0px auto 0px 0px;
  cursor: pointer;
}

.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.06;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
  background-image: -o-radial-gradient(center, circle, #bea67c, #bb9c66);
  background-image: radial-gradient(circle at center, #bea67c, #bb9c66);
}

.btn:hover:after {
  opacity: 0.3;
}

.btn.fw {
  width: 100%;
}

.select-block {
  position: relative;
}

.select__label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #f7f7f7;
  padding: 0 5px;
  color: #979797;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  left: 20px;
}

.select {
  position: relative;
  cursor: pointer;
}

.select .select-title {
  z-index: 1;
  width: 100%;
  height: 55px;
  border: 1px solid #dedede;
  position: relative;
  background-color: #fff;
}

.select .select-title__arrow {
  position: absolute;
  top: 0;
  right: 0px;
  width: 45px;
  height: 100%;
  background: url("../img/icons/select-arrow.svg") center no-repeat;
}

.select .select-title__value {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 53px;
  display: block;
  overflow: hidden;
  padding: 0 45px 0 25px;
  white-space: nowrap;
  text-transform: none;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.select .select-options {
  position: absolute;
  z-index: 10;
  top: 54px;
  display: none;
  overflow: hidden;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 10px 20px 10px 25px;
}

.select .select-options-scroll {
  max-height: 80px;
  overflow: auto;
}

.select .select-options-list {
  padding: 0px 0px 0px 0px;
}

.select .select-options__value {
  color: #000;
  font-size: 20px;
  margin: 0px 0px 15px 0px;
}

.select .select-options__value:last-child {
  margin: 0px 0px 0px 0px;
}

.select .select-options__value:hover {
  color: #000;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.check {
  position: relative;
  padding-left: 25px;
  color: #5f5f5f;
  line-height: 18px;
  cursor: pointer;
}

.check input {
  display: none;
}

.check:before {
  content: "";
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #a3a3a3;
  position: absolute;
}

.check.active:before {
  background: url("../img/icons/check.png") center no-repeat;
}

.option {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}

.option:last-child {
  margin-bottom: 0px;
}

.option input {
  display: none;
}

.option:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid #7f7f7f;
  border-radius: 50%;
}

.option.active:before {
  background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  position: relative;
  width: 73px;
  height: 47px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
}

.quantity__input {
  height: 45px;
  width: 50px;
  text-align: center;
  color: #101010;
  font-weight: 300;
}

.quantity__btn {
  position: absolute;
  top: 11px;
  right: 15px;
  cursor: pointer;
}

.quantity__btn:before {
  font-size: 25px;
  display: inline-block;
  line-height: 10px;
  color: #a9a9a9;
}

.quantity__btn:hover:before {
  color: #da0005;
}

.quantity__btn.dwn {
  top: 25px;
}

.category-params-item-price-table {
  margin-bottom: 25px;
}

.category-params-item-price-table .cell:first-child {
  padding-right: 15px;
  position: relative;
}

.category-params-item-price-table .cell:first-child:after {
  content: "-";
  position: absolute;
  right: -4px;
  top: 8px;
  font-size: 20px;
}

.category-params-item-price-table .cell:last-child {
  padding-left: 15px;
}

.category-params-item-price-table .cell input {
  height: 37px;
  border: 2px solid #393939;
  background-color: #ffffff;
  text-align: center;
  font-size: 12px;
  color: #393939;
  font-weight: 500;
  width: 100%;
}

.category-params-item-price-range {
  margin: 0 12px 40px 12px;
  background-color: #c9cecf;
  height: 2px;
  position: relative;
}

.category-params-item-price-range .ui-slider-range {
  background-color: #000;
  height: 2px;
  position: relative;
}

.category-params-item-price-range .ui-slider-handle {
  width: 23px;
  height: 28px;
  border: 3px solid #fbfbfb;
  background-color: #ea5922;
  display: block;
  position: absolute;
  top: -14px;
  margin-left: -12px;
  cursor: pointer;
}

.category-params-item-price-range .ui-slider-handle span {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 50px;
  text-align: center;
  font-size: 10px;
  margin-left: -25px;
  font-weight: 500;
  color: #94a6aa;
}

.form__info {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  line-height: 60px;
  text-align: center;
  color: #888;
  z-index: 2;
  font-size: 14px;
}

.form-range-line {
  position: relative;
  height: 5px;
  border-radius: 0 0 4px 4px;
  background-color: #e0e0e0;
  margin: -2px 0px 0px 0px;
}

.form-range-line .ui-slider-range {
  background-color: #093454;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
}

.form-range-line .ui-slider-handle {
  background: url("../img/icons/range.svg") 0 0 no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  margin: -9px 0px 0px -14px;
  top: 0;
  left: 0;
  cursor: pointer;
}

.form-range-line .ui-state-hover {
  background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 0px 0px 0px;
}

.form-range-values__item {
  font-size: 12px;
  color: #888;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}

.moretext__more span {
  font-style: normal;
}

.moretext__more span:first-child {
  display: block;
}

.moretext__more span:last-child {
  display: none;
}

.moretext__more.active span {
  font-style: normal;
}

.moretext__more.active span:first-child {
  display: none;
}

.moretext__more.active span:last-child {
  display: block;
}

.graystyle {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.graystyleoff {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

.baloon button {
  display: none !important;
}

.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

.header__submenu-body {
  position: fixed;
  width: 281px;
  height: 100vh;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px 0px 0px 0px;
  top: 0;
  left: -281px;
  overflow: auto;
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  -o-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
}

.header__submenu-body.active {
  -webkit-transform: translateX(281px);
      -ms-transform: translateX(281px);
          transform: translateX(281px);
}

.header__submenu-logo {
  position: relative;
  font-family: "Proxima Nova";
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #ffffff;
  padding: 0;
  margin: 20px 0px 0px 0px;
}

.header__submenu-logo::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 4px;
  top: calc(50% - 3px);
  left: 45px;
  background-color: #bea67c;
}

.header__submenu-nav {
  padding: 15px 20px;
  text-align: center;
}

.header__submenu-link {
  display: inline-block;
  opacity: 0.5;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #bea67c;
  margin: 0px 0px 20px 0px;
}

.header__menu {
  padding: 0px 20px;
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.767);
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  -o-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
}

.header__menu.active {
  -webkit-transform: translateX(280px);
      -ms-transform: translateX(280px);
          transform: translateX(280px);
}

.menu {
  position: fixed;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__column {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 24px 0px 0px;
}

.menu__column:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.menu__column--center {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__text {
  opacity: 0.5;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
  padding: 5px 0px 0px 45px;
}

.menu__logo {
  position: relative;
  font-family: "Proxima Nova";
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #ffffff;
  padding: 0px 100px 0px 0px;
}

.menu__logo::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 4px;
  top: calc(50% - 3px);
  left: 45px;
  background-color: #bea67c;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li:nth-child(2) {
  padding: 0px 105px;
}

.menu__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  opacity: 0.5;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.menu__lang {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0px 0px 0px 50px;
}

.menu__lang:before {
  content: "";
  background: url("../img/icons/lang_icon.png") 0 0 no-repeat;
  position: absolute;
  width: 6px;
  height: 4px;
  top: 40%;
  right: -10px;
}

.menu__lang span {
  opacity: 0.5;
  font-family: "Proxima Nova";
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.menu__body {
  position: fixed;
  width: 251px;
  height: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px 0px 0px 0px;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
}

.menu__body.active {
  opacity: 1;
  visibility: visible;
}

.menu__body_nav {
  padding: 15px 20px;
  text-align: center;
}

.menu__body_list {
  text-align: center;
}

.menu__body_link {
  display: inline-block;
  opacity: 0.5;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #bea67c;
  margin: 0px 0px 20px 0px;
}

.menu__body_logo {
  padding: 0;
  margin: 20px 0px 0px 0px;
}

.icon-menu {
  display: block;
  position: relative;
  top: 0px;
  left: 7px;
  width: 33px;
  height: 22px;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #bea67c;
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:nth-child(3) {
  top: auto;
  bottom: 0px;
}

.icon-menu.active span {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.icon-menu.active span:first-child {
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top: calc(50% - 1px);
}

.icon-menu.active span:nth-child(3) {
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: calc(50% - 1px);
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
}

.footer__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.footer__container {
  z-index: 10;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.footer__text {
  padding: 0px 15px 0px 15px;
  font-family: "Proxima Nova";
  font-size: 15px;
  letter-spacing: 0.025em;
  color: #464646;
}

.footer__logo {
  padding: 0px 15px;
  position: relative;
  font-family: "Proxima Nova";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #ffffff;
}

.footer__logo::before {
  content: "";
  position: absolute;
  width: 54px;
  height: 4px;
  background-color: #bea67c;
  left: 24%;
  top: 50%;
  transform: translate3d(0px, -70%, 0px);
  -webkit-transform: translate3d(0px, -70%, 0px);
  -ms-transform: translate3d(0px, -70%, 0px);
  -o-transform: translate3d(0px, -70%, 0px);
  -moz-transform: translate3d(0px, -70%, 0px);
}

.footer__design {
  padding: 0px 15px 0px 15px;
  font-family: "Proxima Nova";
  font-size: 15px;
  letter-spacing: 0.025em;
  color: #7d7d7d;
}

.footer__design span {
  color: #464646;
}

.page {
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  -o-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.page.active {
  -webkit-transform: translateX(280px);
      -ms-transform: translateX(280px);
          transform: translateX(280px);
}

.mainscreen {
  position: relative;
  padding: 110px 0px 0px 0px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.mainscreen__bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.mainscreen__bg::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 25px;
  background: url("../img/icons/header_icon.png") 0 0 no-repeat;
  bottom: 23px;
  right: 32px;
  z-index: 10;
  opacity: 0.5;
}

.mainscreen__bg::before {
  content: "";
  position: absolute;
  bottom: -50px;
  right: 19%;
  width: 4px;
  height: 51px;
  z-index: 10;
  background-color: #bea67c;
  transform: translate3d(-1px, -50%, 0px);
  -webkit-transform: translate3d(-1px, -50%, 0px);
  -ms-transform: translate3d(-1px, -50%, 0px);
  -o-transform: translate3d(-1px, -50%, 0px);
  -moz-transform: translate3d(-1px, -50%, 0px);
}

.mainscreen__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.mainscreen__body {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainscreen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainscreen::after {
  content: "w";
  position: absolute;
  top: 254px;
  right: 0;
  width: 363px;
  height: 265px;
  z-index: 10;
  opacity: 0.1;
  font-family: "Proxima Nova";
  font-size: 395px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #a9946e;
  transform: translate3d(50%, 0px, 0px);
  -webkit-transform: translate3d(50%, 0px, 0px);
  -ms-transform: translate3d(50%, 0px, 0px);
  -o-transform: translate3d(50%, 0px, 0px);
  -moz-transform: translate3d(50%, 0px, 0px);
}

.mainscreen-column-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.mainscreen-column-1:before {
  content: "";
  position: absolute;
  top: -35px;
  left: 25px;
  width: 4px;
  height: 51px;
  background-color: #bea67c;
  transform: translate3d(-1px, -50%, 0px);
  -webkit-transform: translate3d(-1px, -50%, 0px);
  -ms-transform: translate3d(-1px, -50%, 0px);
  -o-transform: translate3d(-1px, -50%, 0px);
  -moz-transform: translate3d(-1px, -50%, 0px);
}

.mainscreen-column-1 span {
  font-family: "Proxima Nova";
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #bea67c;
}

.mainscreen-column-1 span:first-child {
  position: relative;
  padding: 20px 0px 0px 0px;
}

.mainscreen-column-1 span:first-child:after {
  content: "";
  position: absolute;
  bottom: -85px;
  right: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bea67c;
  transform: translate3d(6px, 0px, 0px);
  -webkit-transform: translate3d(6px, 0px, 0px);
  -ms-transform: translate3d(6px, 0px, 0px);
  -o-transform: translate3d(6px, 0px, 0px);
  -moz-transform: translate3d(6px, 0px, 0px);
}

.mainscreen-column-1 span:first-child:before {
  content: "";
  position: absolute;
  bottom: -135px;
  right: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #303030;
  transform: translate3d(6px, 0px, 0px);
  -webkit-transform: translate3d(6px, 0px, 0px);
  -ms-transform: translate3d(6px, 0px, 0px);
  -o-transform: translate3d(6px, 0px, 0px);
  -moz-transform: translate3d(6px, 0px, 0px);
}

.mainscreen-column-1 span:last-child {
  position: relative;
}

.mainscreen-column-1 span:last-child:after {
  content: "";
  position: absolute;
  bottom: -185px;
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #303030;
  transform: translate3d(6px, 0px, 0px);
  -webkit-transform: translate3d(6px, 0px, 0px);
  -ms-transform: translate3d(6px, 0px, 0px);
  -o-transform: translate3d(6px, 0px, 0px);
  -moz-transform: translate3d(6px, 0px, 0px);
}

.mainscreen-column-1 span:last-child:before {
  content: "";
  position: absolute;
  bottom: -235px;
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #303030;
  transform: translate3d(6px, 0px, 0px);
  -webkit-transform: translate3d(6px, 0px, 0px);
  -ms-transform: translate3d(6px, 0px, 0px);
  -o-transform: translate3d(6px, 0px, 0px);
  -moz-transform: translate3d(6px, 0px, 0px);
}

.mainscreen-column-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 535px;
          flex: 0 1 535px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainscreen-column-2__title {
  font-family: "Proxima Nova";
  font-size: 100px;
  line-height: 99px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bea67c;
  margin: 0px 0px 60px 0px;
}

.mainscreen-column-2__btn {
  margin: 0px 0px 65px 0px;
}

.mainscreen-column-2__btn span {
  position: relative;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  padding: 0px 8px 0px 0px;
}

.mainscreen-column-2__btn span::after {
  content: "";
  position: absolute;
  width: 34px;
  height: 11px;
  background: url("../img/icons/ridht_arrow.png") 0 0 no-repeat;
  top: 50%;
  right: -34px;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
}

.mainscreen-column-2__icon {
  position: relative;
  margin: 0px 0px 120px 0px;
  padding: 0px 0px 25px 0px;
}

.mainscreen-column-2__icon span {
  content: "";
  position: absolute;
  bottom: -74px;
  left: 50%;
  width: 1px;
  height: 74px;
  background-color: #fff;
  -webkit-animation: line 1.4s infinite ease-out;
          animation: line 1.4s infinite ease-out;
}

.mainscreen-column-2__icon span::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 11px;
  height: 6px;
  background: url("../img/icons/header_arrow.png") 0 0 no-repeat;
  transform: translate3d(-50%, 0px, 0px);
  -webkit-transform: translate3d(-50%, 0px, 0px);
  -ms-transform: translate3d(-50%, 0px, 0px);
  -o-transform: translate3d(-50%, 0px, 0px);
  -moz-transform: translate3d(-50%, 0px, 0px);
}

.mainscreen-column-2__text {
  margin-left: -25px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  opacity: 0.1;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}

@-webkit-keyframes line {
  0% {
    height: 20px;
    bottom: -20px;
  }

  100% {
    height: 74px;
    bottom: -74px;
  }
}

@keyframes line {
  0% {
    height: 20px;
    bottom: -20px;
  }

  100% {
    height: 74px;
    bottom: -74px;
  }
}

.mainscreen-column-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 15px 15px 0px 0px;
}

.mainscreen-column-3__text {
  opacity: 0.2;
  font-family: "Proxima Nova";
  font-size: 13.7px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bea67c;
}

.furniture {
  padding: 90px 0px 130px 0px;
  position: relative;
}

.furniture__container {
  position: relative;
}

.furniture__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 0px 13px;
}

.furniture__body::before {
  content: "F";
  position: absolute;
  top: -220px;
  left: -10px;
  width: 187px;
  height: 264px;
  z-index: 10;
  opacity: 0.1;
  font-family: "Proxima Nova";
  font-size: 395px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #a9946e;
}

.furniture__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 525px;
          flex: 1 1 525px;
  max-width: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 0px 180px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.furniture__image {
  position: relative;
  max-width: 616px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 616px;
          flex: 1 1 616px;
  margin: 0px -15px 0px 33px;
}

.furniture__image::after {
  content: "Furniture";
  opacity: 0.2;
  font-family: "Proxima Nova";
  font-size: 170px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #d0d0d0;
  position: absolute;
  width: 1006px;
  height: 115px;
  bottom: 50%;
  right: -50%;
  transform: translate3d(30%, 50%, 0px);
  -webkit-transform: translate3d(30%, 50%, 0px);
  -ms-transform: translate3d(30%, 50%, 0px);
  -o-transform: translate3d(30%, 50%, 0px);
  -moz-transform: translate3d(30%, 50%, 0px);
}

.furniture__image img {
  width: 100%;
}

.column__title {
  padding: 120px 0px 30px 0px;
  font-family: "Proxima Nova";
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: #010101;
}

.column__text {
  font-family: "Proxima Nova";
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.022em;
  color: #464646;
}

.column__btn {
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 9px 0px;
  position: relative;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.section__number {
  position: absolute;
  font-family: "Proxima Nova";
  font-size: 36px;
  line-height: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  color: #000000;
}

.section__number span {
  color: #bea67c;
}

.furniture-number {
  left: 0;
  bottom: -15px;
}

.furniture-number::before {
  content: "";
  position: absolute;
  bottom: -160px;
  left: 45%;
  width: 4px;
  height: 51px;
  z-index: 10;
  background-color: #bea67c;
  transform: translate3d(-1px, -50%, 0px);
  -webkit-transform: translate3d(-1px, -50%, 0px);
  -ms-transform: translate3d(-1px, -50%, 0px);
  -o-transform: translate3d(-1px, -50%, 0px);
  -moz-transform: translate3d(-1px, -50%, 0px);
}

.title-furniture span {
  position: relative;
}

.title-furniture span::before {
  content: "";
  position: absolute;
  width: 151px;
  height: 1px;
  background-color: #010101;
  left: -183px;
  top: 50%;
}

.text-furniture p {
  position: relative;
}

.text-furniture p::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 4px;
  background-color: #bea67c;
  left: -87px;
  top: 10px;
}

.btn-furniture {
  position: relative;
}

.btn-furniture span {
  padding: 0px 60px 9px 0px;
  position: relative;
}

.btn-furniture span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 7px;
  top: 5px;
  right: 35px;
  background: url("../img/icons/gold_arroy.png") 0 0 no-repeat;
  -webkit-animation: arrow 2s infinite ease-out;
          animation: arrow 2s infinite ease-out;
}

.btn-furniture::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #a9946e;
}

.btn-furniture:hover::before {
  content: "";
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  position: absolute;
  width: 115px;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #a9946e;
}

@-webkit-keyframes arrow {
  0% {
    width: 0px;
    right: 35px;
    opacity: 0;
  }

  50% {
    width: 36px;
    right: 35px;
    opacity: 0;
  }

  100% {
    width: 36px;
    right: 0px;
  }
}

@keyframes arrow {
  0% {
    width: 0px;
    right: 35px;
    opacity: 0;
  }

  50% {
    width: 36px;
    right: 35px;
    opacity: 0;
  }

  100% {
    width: 36px;
    right: 0px;
  }
}

.decor {
  padding: 150px 0px 85px 0px;
}

.decor__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.decor__body::before {
  content: "d";
  opacity: 0.1;
  font-family: "Proxima Nova";
  font-size: 395px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bea67c;
  position: absolute;
  width: 245px;
  height: 265px;
  top: -270px;
  right: -30px;
}

.decor__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 183px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 448px;
          flex: 1 1 448px;
}

.decor__image {
  margin: 0px 95px 0px -15px;
  position: relative;
  max-width: 616px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 616px;
          flex: 1 1 616px;
}

.decor__image img {
  width: 100%;
}

.decor-number {
  right: 0;
  bottom: -15px;
}

.decor-number::before {
  content: "";
  position: absolute;
  bottom: -160px;
  right: 55%;
  width: 4px;
  height: 51px;
  background-color: #bea67c;
  transform: translate3d(-1px, -50%, 0px);
  -webkit-transform: translate3d(-1px, -50%, 0px);
  -ms-transform: translate3d(-1px, -50%, 0px);
  -o-transform: translate3d(-1px, -50%, 0px);
  -moz-transform: translate3d(-1px, -50%, 0px);
}

.title-decor span {
  position: relative;
}

.title-decor span::before {
  content: "";
  position: absolute;
  width: 151px;
  height: 1px;
  background-color: #010101;
  right: -183px;
  top: 50%;
}

.text-decor p {
  text-align: right;
  position: relative;
}

.text-decor p::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 4px;
  background-color: #bea67c;
  right: -87px;
  top: 10px;
}

.btn-decor span {
  padding: 0px 0px 9px 60px;
  position: relative;
}

.btn-decor span::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 7px;
  top: 5px;
  left: 0;
  background: url("../img/icons/gold_arroy.png") 0 0 no-repeat;
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-animation: arrow1 2s infinite ease-out;
          animation: arrow1 2s infinite ease-out;
}

.btn-decor::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 2px;
  bottom: -2px;
  right: 0;
  background-color: #a9946e;
}

.btn-decor:hover::before {
  content: "";
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  position: absolute;
  width: 115px;
  height: 2px;
  bottom: -2px;
  right: 0;
  background-color: #a9946e;
}

@-webkit-keyframes arrow1 {
  0% {
    width: 0px;
    left: 35px;
    opacity: 0;
  }

  50% {
    width: 36px;
    left: 35px;
    opacity: 0;
  }

  100% {
    width: 36px;
    left: 0px;
  }
}

@keyframes arrow1 {
  0% {
    width: 0px;
    left: 35px;
    opacity: 0;
  }

  50% {
    width: 36px;
    left: 35px;
    opacity: 0;
  }

  100% {
    width: 36px;
    left: 0px;
  }
}

.quality {
  text-align: center;
  padding: 140px 0px 155px 0px;
  position: relative;
}

.quality__title {
  margin: 0px 0px 60px 0px;
  position: relative;
  font-family: "Proxima Nova";
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: #000000;
}

.quality__title span {
  line-height: 60px;
  letter-spacing: 0.025em;
}

.quality__title::after {
  position: absolute;
  content: "";
  width: 44px;
  height: 4px;
  background-color: #bea67c;
  left: 50%;
  bottom: -30px;
  transform: translate3d(-50%, 0px, 0px);
  -webkit-transform: translate3d(-50%, 0px, 0px);
  -ms-transform: translate3d(-50%, 0px, 0px);
  -o-transform: translate3d(-50%, 0px, 0px);
  -moz-transform: translate3d(-50%, 0px, 0px);
}

.quality__text {
  margin: 0px auto 80px;
  max-width: 545px;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 15.1px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #636262;
}

.quality__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 65px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quality__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quality__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 244px;
  height: 244px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.quality__column-text {
  position: relative;
  font-family: "Proxima Nova";
  font-size: 16px;
  letter-spacing: 0.025em;
  color: #000000;
  bottom: -60px;
}

.quality__column-text::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: #bea67c;
  left: 50%;
  top: -18px;
  transform: translate3d(-50%, 0px, 0px);
  -webkit-transform: translate3d(-50%, 0px, 0px);
  -ms-transform: translate3d(-50%, 0px, 0px);
  -o-transform: translate3d(-50%, 0px, 0px);
  -moz-transform: translate3d(-50%, 0px, 0px);
}

.item {
  position: relative;
}

.item__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 5;
}

.item__link::before {
  content: "";
  position: absolute;
  width: 272px;
  height: 272px;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  top: -14px;
  left: -14px;
}

.item__icon {
  position: relative;
  z-index: 2;
  top: 50%;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
}

.item__bg {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.item__bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(5, 5, 5, 0.4);
  border-radius: 50%;
}

.design {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.design__container {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1560px;
          flex: 0 1 1560px;
  padding: 90px 0px;
  margin: 0px 90px;
}

.design__container::before {
  content: "v";
  opacity: 0.07;
  font-family: "Proxima Nova";
  font-size: 395px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bea67c;
  position: absolute;
  width: 275px;
  height: 265px;
  top: -140px;
  right: 135px;
}

.design__container::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  width: 1px;
  height: 151px;
  top: 50%;
  right: 110px;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
}

.design__image {
  position: absolute;
  max-width: 865px;
  max-height: 832px;
  top: 40px;
  right: -70px;
  opacity: 0.03;
  color: #ffffff;
}

.design__body {
  padding: 0px 90px;
  border: 1px solid #bea67c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.design__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.design__column {
  margin-left: calc(386 / 1560 * 100%);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 510px;
          flex: 0 1 510px;
  padding: 216px 0px 183px 0px;
}

.title-design {
  padding: 0px 0px 50px 0px;
  letter-spacing: 0.025em;
  color: #bea67c;
}

.title-design span {
  position: relative;
}

.title-design span::before {
  content: "";
  position: absolute;
  width: 151px;
  height: 1px;
  background-color: #ffffff;
  left: -185px;
  top: 30px;
}

.text-design {
  padding: 0px 0px 40px 0px;
  max-width: 400px;
  color: #ffffff;
}

.text-design p {
  position: relative;
}

.text-design p::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 4px;
  background-color: #bea67c;
  left: -87px;
  top: 10px;
}

.btn-design {
  z-index: 10;
}

.btn-design span {
  position: relative;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  padding: 0px 0px 0px 15px;
}

.btn-design span::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("../img/icons/play_btn.png") 0 0 no-repeat;
  top: 50%;
  left: -34px;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
}

.about__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 140px 0px 125px 28px;
}

.about__body::before {
  z-index: 10;
  content: "about us";
  opacity: 0.2;
  font-size: 170px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: #d0d0d0;
  font-family: "Proxima Nova";
  position: absolute;
  width: 950px;
  height: 116px;
  top: 45%;
  left: -420px;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
}

.about__column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 335px;
          flex: 0 1 335px;
  margin: 0px 0px 0px 110px;
}

.about__column::before {
  content: "a";
  opacity: 0.07;
  font-family: "Proxima Nova";
  font-size: 395px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bea67c;
  position: absolute;
  width: 275px;
  height: 265px;
  top: -300px;
  right: -200px;
}

.about__image {
  margin: 0px 0px 0px 0px;
  position: relative;
  max-width: 589px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 589px;
          flex: 0 1 589px;
}

.about__image img {
  width: 100%;
}

.title-about span {
  position: relative;
}

.title-about span::before {
  content: "";
  position: absolute;
  width: 151px;
  height: 1px;
  background-color: #010101;
  left: -183px;
  top: 50%;
}

.text-about {
  letter-spacing: 0.025em;
}

.text-about p {
  position: relative;
}

.text-about p::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 4px;
  background-color: #bea67c;
  left: -87px;
  top: 10px;
}

.btn-about {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn-about span {
  padding: 0px 0px 9px 60px;
  position: relative;
}

.btn-about span::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 7px;
  top: 5px;
  left: 0;
  background: url("../img/icons/gold_arroy.png") 0 0 no-repeat;
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-animation: arrow1 2s infinite ease-out;
          animation: arrow1 2s infinite ease-out;
}

.btn-about::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 2px;
  bottom: -2px;
  right: 0;
  background-color: #a9946e;
}

.btn-about:hover::before {
  content: "";
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  position: absolute;
  width: 115px;
  height: 2px;
  bottom: -2px;
  right: 0;
  background-color: #a9946e;
}

@media (min-width: 991.98px) {
  .header__submenu-link:hover {
    opacity: 1;
    text-decoration: underline;
  }

  .menu__link:hover {
    opacity: 1;
    text-decoration: underline;
  }

  .menu__lang span:hover {
    opacity: 1;
  }

  .menu__body_link:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

@media (min-width: 992px) {
  .item:hover .item__bg {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@media (max-width: 1600px) {
  .design__image {
    width: 100%;
  }

  .design__column {
    padding: 100px 0px 100px 0px;
  }
}

@media (max-width: 1100px) {
  .header__submenu-logo {
    padding: 0;
  }

  .menu__logo {
    padding: 0px 50px 0px 0px;
  }

  .menu__list li:nth-child(2) {
    padding: 0px 50px 0px 50px;
  }

  .menu__body_logo {
    padding: 0;
  }

  .furniture__body::before {
    top: 30%;
  }

  .furniture__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
  }

  .furniture__column {
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .furniture__image {
    margin: 0;
  }

  .furniture {
    padding: 40px 0px 60px 0px;
  }

  .column__btn {
    margin: 30px 0px 30px 0px;
  }

  .title-furniture {
    padding: 40px 0px 30px 0px;
    font-size: 40px;
  }

  .decor__body::before {
    top: 30%;
  }

  .decor__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .decor__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .decor__image {
    margin: 0;
  }

  .decor {
    padding: 40px 0px 60px 0px;
  }

  .title-decor {
    padding: 40px 0px 30px 0px;
  }

  .quality {
    padding: 60px 0px 60px 0px;
  }

  .design__container::after {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
  }

  .design__body {
    padding: 0px 30px 0px 100px;
  }

  .about__body::before {
    left: -30%;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .about__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .about__image {
    margin: 0;
    display: block;
  }

  .title-about {
    font-size: 40px;
  }
}

@media screen and (max-width: 991.98px), screen and (max-height: 767px) {
  .mainscreen-column-1 {
    display: none;
  }

  .mainscreen-column-2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px 0px 0px 50px;
  }

  .mainscreen-column-3 {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .design__container {
    padding: 50px 0px 50px 0px;
    margin: 0px 50px;
  }

  .design__column {
    padding: 50px 0px 50px 0px;
  }
}

@media (max-width: 970px) {
  .quality__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }

  .quality__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0px 0px 100px 0px;
  }

  .quality__column-text {
    bottom: -50px;
  }
}

@media (max-width: 950px) {
  .about__body::before {
    display: none;
  }

  .about__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px 0px 40px 0px;
  }

  .title-about {
    padding: 50px 0px 20px 0px;
  }
}

@media (max-width: 900px) {
  .header__submenu-logo {
    padding: 0;
  }

  .menu__logo {
    padding: 0px 30px 0px 0px;
  }

  .menu__list li:nth-child(2) {
    padding: 0px 30px 0px 30px;
  }

  .menu__lang {
    padding: 0px 0px 0px 30px;
  }

  .menu__body_logo {
    padding: 0;
  }

  .design__container::after {
    display: none;
  }

  .design__column {
    margin: 0;
  }

  .title-design span::before {
    display: none;
  }

  .text-design p::before {
    display: none;
  }
}

@media (max-width: 850px) {
  .furniture__body::before {
    display: none;
  }

  .furniture {
    padding: 30px 0px 30px 0px;
  }

  .furniture-number::before {
    bottom: -80px;
  }

  .furniture-number {
    top: -30px;
    left: 0px;
  }

  .decor__body::before {
    display: none;
  }

  .decor {
    padding: 30px 0px 30px 0px;
  }

  .decor-number::before {
    bottom: -80px;
  }

  .decor-number {
    top: -30px;
    right: 0px;
  }

  .quality {
    padding: 30px 0px 0px 0px;
  }

  .quality {
    padding: 15px 0px 0px 0px;
  }

  .design__container::before {
    display: none;
  }

  .about__column::before {
    display: none;
  }
}

@media (max-width: 800px) {
  .menu__nav {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .form__info {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .menu__column--center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .menu__logo {
    padding: 0;
  }

  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0;
  }

  .footer__logo {
    margin: 0px 0px 10px 0px;
  }

  .footer__design {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0;
    margin: 0px 0px 10px 0px;
  }

  .furniture__column {
    padding: 0px 15px 0px 0px;
  }

  .furniture {
    margin: 0;
  }

  .title-furniture span::before {
    display: none;
  }

  .text-furniture p::before {
    display: none;
  }

  .decor__column {
    padding: 0px 0px 0px 15px;
  }

  .title-decor span::before {
    display: none;
  }

  .text-decor p::before {
    display: none;
  }

  .quality__text {
    margin: 0px 0px 30px 0px;
  }

  .design__body {
    padding: 0px 30px 0px 30px;
  }

  .title-about span::before {
    display: none;
  }

  .text-about p::before {
    display: none;
  }
}

@media (max-width: 700px) {
  .mainscreen__bg::before {
    display: none;
  }

  .furniture-number::before {
    display: none;
  }

  .decor-number::before {
    display: none;
  }
}

@media (max-width: 670px) {
  .title-design {
    font-size: 35px;
  }
}

@media (max-width: 666px) {
  .mainscreen::after {
    font-size: 200px;
  }

  .mainscreen-column-2__title {
    font-size: 70px;
  }

  .furniture__image::after {
    font-size: 200px;
  }
}

@media (max-width: 660px) {
  .quality__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 100px 0px;
  }
}

@media (max-width: 550px) {
  .about__column {
    margin: 0;
  }
}

@media (max-width: 500px) {
  .btn {
    padding: 15px 69px 15px 46px;
  }

  .menu__text {
    display: none;
  }

  .mainscreen-column-2__title {
    font-size: 50px;
  }

  .mainscreen-column-2 {
    padding: 0px 10px;
  }

  .decor {
    padding: 15px 0px 30px 0px;
  }

  .btn-design {
    padding: 15px 20px 15px 55px;
  }
}

@media (max-width: 400px) {
  .menu__column:last-child {
    display: none;
  }

  .menu__lang {
    margin: 0px 0px 20px 0px;
  }

  .menu__lang:before {
    display: inline-block;
    right: 20px;
    top: 30%;
  }
}

@media (max-width: 350px) {
  .header__menu {
    padding: 10px;
  }
}

@media (max-height: 767px) {
  .mainscreen-column-2__icon {
    display: none;
  }

  .mainscreen-column-2__text {
    display: none;
  }
}

.webp .check.active:before{ background: url(../img/icons/check.webp) center no-repeat; }

.webp .option.active:before{ background: url(../img/icons/option.webp) center no-repeat; }

.webp .menu__lang:before{ background: url(../img/icons/lang_icon.webp) 0 0 no-repeat; }

.webp .mainscreen__bg::after{ background: url(../img/icons/header_icon.webp) 0 0 no-repeat; }

.webp .mainscreen-column-2__btn span::after{ background: url(../img/icons/ridht_arrow.webp) 0 0 no-repeat; }

.webp .mainscreen-column-2__icon span::after{ background: url(../img/icons/header_arrow.webp) 0 0 no-repeat; }

.webp .btn-furniture span::after{ background: url(../img/icons/gold_arroy.webp) 0 0 no-repeat; }

.webp .btn-decor span::after{ background: url(../img/icons/gold_arroy.webp) 0 0 no-repeat; }

.webp .btn-design span::after{ background: url(../img/icons/play_btn.webp) 0 0 no-repeat; }

.webp .btn-about span::after{ background: url(../img/icons/gold_arroy.webp) 0 0 no-repeat; }